# Milestone 3: Processing and Cleaning

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
#Make sure that you have the following path in your drive: /content/drive/My Drive/CIS450 Project/
drive.mount("/content/drive/")

Mounted at /content/drive/

### Books Data

In [ ]:
books_df = pd.read_csv('/content/drive/My Drive/CIS450 Project/Books/GoodReads_100k_books.csv')

In [ ]:
books_df

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Hardcover,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,002914180X,9.78E+12,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Paperback,Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,1906863482,9.78E+12,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,Paperback,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,948984147,9.78E+12,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,Hardcover,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,814327079,9.78E+12,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jean Leveille,NaN,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,2761920813,NaN,https://goodreads.com/book/show/10010880-les-o...,177,4.00,1,Les oiseaux gourmands,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Simon Monk,ebook,Design custom printed circuit boards with EAGL...,NaN,https://i.gr-assets.com/images/S/compressed.ph...,71819266,9.78007E+12,https://goodreads.com/book/show/17320181-make-...,304,4.07,7,Make Your Own PCBs with Eagle: From Schematic ...,56
99996,"Tracie L. Miller-Nobles,Brenda L. Mattison,Ell...",Hardcover,"Redefining tradition in learning accounting. ,...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,133251241,9.78013E+12,https://goodreads.com/book/show/17320260-horng...,1645,4.05,1,Horngren's Financial & Managerial Accounting,38
99997,C. John Miller,Paperback,In these warm reflections on his own growth as...,"Christianity,Evangelism,Christian,Religion,The...",https://i.gr-assets.com/images/S/compressed.ph...,875523919,9.78088E+12,https://goodreads.com/book/show/173203.A_Faith...,160,4.27,20,A Faith Worth Sharing: A Lifetime of Conversat...,122
99998,Albert Marrin,Hardcover,"John Brown is a man of many legacies, from her...","Nonfiction,History,Biography,Military History,...",https://i.gr-assets.com/images/S/compressed.ph...,307981533,9.78031E+12,https://goodreads.com/book/show/17320669-a-vol...,256,3.63,51,A Volcano Beneath the Snow: John Brown's War A...,156
99999,Marc E. Fitch,ebook,Did you know that interest in UFO research inc...,"Fantasy,Paranormal,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,313382077,9.78031E+12,https://goodreads.com/book/show/17320689-paran...,398,3.83,3,"Paranormal Nation: Why America Needs Ghosts, U...",12

### Authors

In [ ]:
import functools
allowed_chars = ['.','\'','-',' ','\t','\n']
foldr = lambda func, acc, xs: functools.reduce(lambda x, y: func(y, x), xs[::-1], acc)
def is_valid_author_name(name):
  return foldr(lambda c,acc: acc and (c in allowed_chars or c.isalnum() or c.isspace()), True, name)
is_valid_author_name('Kelly Milner Halls')

True

In [ ]:
# # Cleaning authors
authors = set(books_df['author'])
allowed_chars = ['.','\'','-']
cleaned_authors = set()
for author in authors:
  for name in author.split(','):
    name = name.strip()
    if is_valid_author_name(name) and name:
      cleaned_authors.add(name)

In [ ]:
author_df = pd.DataFrame(cleaned_authors)
author_df.columns = ['Name']
author_df

                  Name
0         Ian Westwell
1           Beth Clark
2      Stefano Campana
3            Ben Moore
4        Cleo Peitsche
...                ...
82764        Bruce Mau
82765    Adrianne Byrd
82766       Wythe Holt
82767  Reginald Hudlin
82768   Elizabeth Losh

[82769 rows x 1 columns]

In [ ]:
from google.colab import files

author_df.to_csv('authors.csv',index=False)

### Books

In [ ]:
books_df.columns.values

array(['author', 'bookformat', 'desc', 'genre', 'img', 'isbn', 'isbn13',
       'link', 'pages', 'rating', 'reviews', 'title', 'totalratings'],
      dtype=object)

In [ ]:
projected_books_df = books_df[['isbn','pages','link','title','img','desc','rating','author']].rename(columns={'isbn':'ISBN','pages':'NumPages','link':'GoodreadsLink','img':'ImageURL','desc':'Description','rating':'Rating','title':'Title'})
projected_books_df['ISBN'] = projected_books_df['ISBN'].astype(str)
projected_books_df

,ISBN,NumPages,GoodreadsLink,Title,ImageURL,Description,Rating,author
0,002914180X,0,https://goodreads.com/book/show/1001053.Betwee...,Between Two Fires: American Indians in the Civ...,https://i.gr-assets.com/images/S/compressed.ph...,Reveals that several hundred thousand Indians ...,3.52,Laurence M. Hauptman
1,1906863482,576,https://goodreads.com/book/show/10010552-fashi...,Fashion Sourcebook 1920s,https://i.gr-assets.com/images/S/compressed.ph...,Fashion Sourcebook - 1920s is the first book i...,4.51,"Charlotte Fiell,Emmanuelle Dirix"
2,948984147,124,https://goodreads.com/book/show/1001077.Hungar...,Hungary 56,https://i.gr-assets.com/images/S/compressed.ph...,The seminal history and analysis of the Hungar...,4.15,Andy Anderson
3,814327079,324,https://goodreads.com/book/show/1001079.All_Am...,All-American Anarchist: Joseph A. Labadie and ...,https://i.gr-assets.com/images/S/compressed.ph...,"""All-American Anarchist"" chronicles the life a...",3.83,Carlotta R. Anderson
4,2761920813,177,https://goodreads.com/book/show/10010880-les-o...,Les oiseaux gourmands,https://i.gr-assets.com/images/S/compressed.ph...,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",4.00,Jean Leveille
...,...,...,...,...,...,...,...,...
99995,71819266,304,https://goodreads.com/book/show/17320181-make-...,Make Your Own PCBs with Eagle: From Schematic ...,https://i.gr-assets.com/images/S/compressed.ph...,Design custom printed circuit boards with EAGL...,4.07,Simon Monk
99996,133251241,1645,https://goodreads.com/book/show/17320260-horng...,Horngren's Financial & Managerial Accounting,https://i.gr-assets.com/images/S/compressed.ph...,"Redefining tradition in learning accounting. ,...",4.05,"Tracie L. Miller-Nobles,Brenda L. Mattison,Ell..."
99997,875523919,160,https://goodreads.com/book/show/173203.A_Faith...,A Faith Worth Sharing: A Lifetime of Conversat...,https://i.gr-assets.com/images/S/compressed.ph...,In these warm reflections on his own growth as...,4.27,C. John Miller
99998,307981533,256,https://goodreads.com/book/show/17320669-a-vol...,A Volcano Beneath the Snow: John Brown's War A...,https://i.gr-assets.com/images/S/compressed.ph...,"John Brown is a man of many legacies, from her...",3.63,Albert Marrin
99999,313382077,398,https://goodreads.com/book/show/17320689-paran...,"Paranormal Nation: Why America Needs Ghosts, U...",https://i.gr-assets.com/images/S/compressed.ph...,Did you know that interest in UFO research inc...,3.83,Marc E. Fitch

In [ ]:
# Remove rows that don't have 1 valid author or ISBN is nan
rows_to_drop = []
for a in projected_books_df.iterrows():
  authors = a[1]['author']
  if not any([is_valid_author_name(name) and name for name in authors.split(',')]) or a[1]['ISBN'] == 'nan':
    rows_to_drop.append(a[0])
books_with_valid_author_df = projected_books_df.drop(rows_to_drop).drop(columns=['author'])

In [ ]:
books_with_valid_author_df
books_with_valid_author_df['Description'] = books_with_valid_author_df['Description'].str.replace(',',' ')

In [ ]:
books_with_valid_author_df

,ISBN,NumPages,GoodreadsLink,Title,ImageURL,Description,Rating
0,002914180X,0,https://goodreads.com/book/show/1001053.Betwee...,Between Two Fires: American Indians in the Civ...,https://i.gr-assets.com/images/S/compressed.ph...,Reveals that several hundred thousand Indians ...,3.52
1,1906863482,576,https://goodreads.com/book/show/10010552-fashi...,Fashion Sourcebook 1920s,https://i.gr-assets.com/images/S/compressed.ph...,Fashion Sourcebook - 1920s is the first book i...,4.51
2,948984147,124,https://goodreads.com/book/show/1001077.Hungar...,Hungary 56,https://i.gr-assets.com/images/S/compressed.ph...,The seminal history and analysis of the Hungar...,4.15
3,814327079,324,https://goodreads.com/book/show/1001079.All_Am...,All-American Anarchist: Joseph A. Labadie and ...,https://i.gr-assets.com/images/S/compressed.ph...,"""All-American Anarchist"" chronicles the life a...",3.83
4,2761920813,177,https://goodreads.com/book/show/10010880-les-o...,Les oiseaux gourmands,https://i.gr-assets.com/images/S/compressed.ph...,Aujourdâ€™hui lâ€™oiseau nous invite Ã sa ta...,4.00
...,...,...,...,...,...,...,...
99995,71819266,304,https://goodreads.com/book/show/17320181-make-...,Make Your Own PCBs with Eagle: From Schematic ...,https://i.gr-assets.com/images/S/compressed.ph...,Design custom printed circuit boards with EAGL...,4.07
99996,133251241,1645,https://goodreads.com/book/show/17320260-horng...,Horngren's Financial & Managerial Accounting,https://i.gr-assets.com/images/S/compressed.ph...,Redefining tradition in learning accounting. ...,4.05
99997,875523919,160,https://goodreads.com/book/show/173203.A_Faith...,A Faith Worth Sharing: A Lifetime of Conversat...,https://i.gr-assets.com/images/S/compressed.ph...,In these warm reflections on his own growth as...,4.27
99998,307981533,256,https://goodreads.com/book/show/17320669-a-vol...,A Volcano Beneath the Snow: John Brown's War A...,https://i.gr-assets.com/images/S/compressed.ph...,John Brown is a man of many legacies from her...,3.63
99999,313382077,398,https://goodreads.com/book/show/17320689-paran...,"Paranormal Nation: Why America Needs Ghosts, U...",https://i.gr-assets.com/images/S/compressed.ph...,Did you know that interest in UFO research inc...,3.83

In [ ]:
from google.colab import files

books_with_valid_author_df.to_csv('books.csv',index=False)

## Writes

In [ ]:
rows_to_drop = []
for a in projected_books_df.iterrows():
  authors = a[1]['author']
  if not any([is_valid_author_name(name) and name for name in authors.split(',')]) or a[1]['ISBN'] == 'nan':
    rows_to_drop.append(a[0])
books_and_valid_authors_df = projected_books_df.drop(rows_to_drop)
books_and_valid_authors_df = books_and_valid_authors_df[['ISBN','author']]
books_and_valid_authors_df['author'] = books_and_valid_authors_df['author'].str.replace(',',' ')
books_and_valid_authors_df

             ISBN                                             author
0      002914180X                               Laurence M. Hauptman
1      1906863482                   Charlotte Fiell Emmanuelle Dirix
2       948984147                                      Andy Anderson
3       814327079                               Carlotta R. Anderson
4      2761920813                                      Jean Leveille
...           ...                                                ...
99995    71819266                                         Simon Monk
99996   133251241  Tracie L. Miller-Nobles Brenda L. Mattison Ell...
99997   875523919                                     C. John Miller
99998   307981533                                      Albert Marrin
99999   313382077                                      Marc E. Fitch

[83667 rows x 2 columns]

In [ ]:
# books_and_authors_df = pd.DataFrame([])
data = []
for id,d in projected_books_df.iterrows():
  authors = d['author']
  for name in authors.split(','):
    if is_valid_author_name(name) and name and d['ISBN'] != 'nan':
      data.append([d['ISBN'],name])

In [ ]:
writes_df = pd.DataFrame(data,columns=['BookISBN','AuthorName'])

In [ ]:
writes_df

          BookISBN            AuthorName
0       002914180X  Laurence M. Hauptman
1       1906863482       Charlotte Fiell
2       1906863482      Emmanuelle Dirix
3        948984147         Andy Anderson
4        814327079  Carlotta R. Anderson
...            ...                   ...
125779   133251241    Brenda L. Mattison
125780   133251241    Ella Mae Matsumura
125781   875523919        C. John Miller
125782   307981533         Albert Marrin
125783   313382077         Marc E. Fitch

[125784 rows x 2 columns]

In [ ]:
len(writes_df.index)

125784

In [ ]:
len(writes_df.drop_duplicates().index)

125494

In [ ]:
from google.colab import files

writes_df.to_csv('writes.csv',index=False)

## Genres

In [ ]:
genres = set()
for row in set(books_df['genre']):
  row = str(row)
  if row != 'nan':
    for g in row.split(','):
      genres.add(g)

In [ ]:
genres_df = pd.DataFrame(genres)
genres_df.columns = ['Name']
genres_df

                   Name
0           Pornography
1        Eastern Africa
2        Social Justice
3        Viking Romance
4              Activism
...                 ...
1177              Sudan
1178              Egypt
1179                Web
1180  Christian Romance
1181  French Revolution

[1182 rows x 1 columns]

In [ ]:
from google.colab import files

genres_df.to_csv('genres.csv',index=False)

## GenreOfBook

In [ ]:
rows_to_drop = []
projected_genres_df = books_df[['isbn','genre']].rename(columns={'isbn':'ISBN','genre':'Genre'})
projected_genres_df['ISBN'] = projected_genres_df['ISBN'].astype(str)
for a in projected_genres_df.iterrows():
  if str(a[1]['Genre']) == 'nan' or a[1]['ISBN'] == 'nan':
    rows_to_drop.append(a[0])
books_and_genres_df = books_df.drop(rows_to_drop)
books_and_genres_df = books_and_genres_df[['isbn','genre']].rename(columns={'isbn':'ISBN','genre':'Genre'})
books_and_genres_df

             ISBN                                              Genre
0      002914180X  History,Military History,Civil War,American Hi...
1      1906863482          Couture,Fashion,Historical,Art,Nonfiction
2       948984147                                   Politics,History
3       814327079                                      Labor,History
5       875848419  Business,Leadership,Romance,Historical Romance...
...           ...                                                ...
99993     7412118  Nonfiction,Environment,Nature,Travel,Science,A...
99994     7455054  Animals,Childrens,Middle Grade,Animals,Horses,...
99997   875523919  Christianity,Evangelism,Christian,Religion,The...
99998   307981533  Nonfiction,History,Biography,Military History,...
99999   313382077                      Fantasy,Paranormal,Nonfiction

[76909 rows x 2 columns]

In [ ]:
data = []
for id,d in books_and_genres_df.iterrows():
  g = d['Genre']
  for name in g.split(','):
    if d['ISBN'] != 'nan' and d['ISBN']:
      data.append([d['ISBN'],name])

In [ ]:
genre_of_book_df = pd.DataFrame(data,columns=['BookISBN','GenreName'])
genre_of_book_df

          BookISBN           GenreName
0       002914180X             History
1       002914180X    Military History
2       002914180X           Civil War
3       002914180X    American History
4       002914180X  American Civil War
...            ...                 ...
705594   307981533            Cultural
705595   307981533    African American
705596   313382077             Fantasy
705597   313382077          Paranormal
705598   313382077          Nonfiction

[705599 rows x 2 columns]

In [ ]:
from google.colab import files

genre_of_book_df.to_csv('genre_of_book.csv',index=False)

## Movies Data

In [ ]:
movies_credits_df = pd.read_csv('/content/drive/My Drive/CIS450 Project/Movies/movies_credits.csv')
movies_metadata_df = pd.read_csv('/content/drive/My Drive/CIS450 Project/Movies/movies_metadata.csv')
movies_ratings_df = pd.read_csv('/content/drive/My Drive/CIS450 Project/Movies/ratings.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
movies_and_genres_df = movies_metadata_df[['id','genres']]
rows_to_drop = []
movies_and_genres_df['id'] = movies_and_genres_df['id'].astype(str)
movies_and_genres_df = movies_and_genres_df.explode('genres')
movies_and_genres_df['genres'] = movies_and_genres_df['genres'].apply(lambda x: x.replace('\'','"'))
movies_and_genres_df
import json
movie_unique = set()
for id,d in movies_and_genres_df.iterrows():
  gens = d['genres']
  gens_json = json.loads(gens)
  for obj in gens_json:
    # if d['id'] != 'nan' and d['id']:
    genres.add(obj['name'])
    movie_unique.add(obj['name'])
    # 1182

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
print(len(genres), len(movie_unique))
genres_df = pd.DataFrame(genres)
genres_df.columns = ['Name']
genres_df
from google.colab import files

genres_df.to_csv('genres.csv',index=False)

1199 32